%h1 Gift List
.meta
  %h4 Thanks for visiting

%ul.gifts
  - @gifts.each do |gift|
    - unless gift.title.blank?
      %li
        %a{:href => gift.url, :target => :_blank}
          %img{:src => gift.image, :width => "250"}
        
        %a{:href => gift.url, :target => :_blank}
          %h2
            = gift.title

          %h4 
            Size: 
            = size_applicable(gift.size)
        %p<
          &#163;
          = gift.price
          
        %div.purchase
          %form{ :action => "/gift/#{gift.id}/purchased", :method => :post }
            %input{:type => :hidden, :name => :_method, :value => :put}
            %input{:type => :submit, :value => "Purchased?"}