form{
  margin: 30px 0 50px;
}

input[type=submit]{
  font-family: 'Merriweather', 'Lato', 'Helvetica Neue', Helvetica, Arial, serif;
  float: right;
  background: none;
  border: 1px solid #000;
  font-size: 0.8em;
  margin: 10px 0;
  padding: 10px 15px;
  text-transform: uppercase;

  &:hover{
    color: #fff;
    background: #000;
    cursor: pointer;
  }
}